#Hero-Section{
                background-image: url("../img/img1.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top;
             }

  h1{ 
      text-align: center;
      display: flex;
      justify-content: center;
    }
  h5{ 
    justify-content: center;
    color:#212529 
     }   

.infoedu{
        display: flex;
        justify-content: space-around;
        margin:3%;}


.foto1{
       width:200px;
       height: 200px;
       border-radius: 50%;
       border: 2px solid black
        }
       
.logostrab{
            
            width:200px;
            height: 200px;
            border-radius: 10%; 
            border: 2px solid black;
            display: flexbox;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
        
           }       