#Hero-Section {
    background-image: url("../img/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  h1{ text-align: center;
    display: flex;
    justify-content: center;
    }

    .boxfotos{
        display: flex;
        justify-content: space-around;
        margin:3%;}